div#control_panel{
	margin: 0 auto;
	width: 360px;
	height: 100px;

}
div#screen{
	margin: 0 auto;
	width: 360px;
	height: 640px;
	border: 1px solid #000;
	background-image: url("../img/screen_base.png");
	background-size: contain;
	position: relative;
}

#screen .page{
	display: none;
	margin-top: 30px;
	min-height: 530px;
}
#screen .page.active{
	display: block;
}

div.border{
	border: 1px solid #000;
	height: 1px;
	width: 350px;
	margin: 7px auto;
}

.app_box{
	width: 320px;
	margin: 0 auto;
}
.app_box img{
	width: 48px;
	height: 48px;
	margin: 14px;
}
div#user_apps{
	height: 240px;
}
div#user_apps img{
	/*margin: 11px;*/
}

#auto_apps{
	height: 180px;
}
div.app_box_title{
	text-align: center;
	color: #DDD;
	font-size: 24px;
	text-shadow: -1px -1px #444, 1px -1px #444, -1px 1px #444, 1px 1px #444;
}
ul#auto_cat_list{
	display: inline-block;
	list-style: none;
}
ul#auto_cat_list li{
	display: none;
}
ul#auto_cat_list li.active{
	display: inline;
}
#auto_apps .auto_cat{
	display: none;
}
#auto_apps .auto_cat.active{
	display: block;
}

#ads_title.app_box_title{
	font-size: 18px;
}
#ad_apps img{
	width: 40px;
	height: 40px;
	margin: 10px;
}
#ad_apps .ads_cat{
	display: none;
}
#ad_apps .ads_cat.active{
	display: block;
}

/* page3 */
#app_search{
	margin-top: 15px;
	text-align: center;
}
#app_search input{
	width: 250px;
	height: 24px;
}
#app_search img{
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

/* pager bar */
ul#pager_bar{
	list-style: none;
	margin: 0 auto;
	width: 320px;
}
ul#pager_bar li{
	border: 1px solid #666;
	width: 100px;
	height: 10px;
	display: inline-block;
	cursor: pointer;
}
ul#pager_bar li.active{
	background-color: #888;
}
